<div>
  <h1>View Cart</h1>
  <div>
    <table>
      <tr>
        <th>Product</th>
        <th>Qty.</th>
        <th>Price</th>
      </tr>
      <% @items.each do |item| %>
        <% item_price = if item.markdown != 0
                          item.markdown
                        else
                          item.price
                        end %>
        <tr>
          <td><%= link_to item.name, item_path(item) %></td>
          <td><%= @cart[item.id.to_s] %></td>
          <td>$<%= @cart[item.id.to_s].to_i * item_price %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>