<div>
  <h1>User#address</h1>

  <% if @addresses.nil? %>
    <p>No addresses found.</p>
  <% else %>
    <table>
      <% @addresses.each do |address| %>
        <tr>
          <td><%= address.id %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <%= link_to "New", new_address_info_path %>
</div>