<div>
  <%= form_tag "/cart/add", :name => "addToCart", method: :post do %>
    <%= search_field_tag :amount, "1", placeholder: "Amount" %>
    <%= hidden_field_tag :item_id, @item.id %>
    <%= submit_tag "Add" %>
  <% end %>
</div>